/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --text-color: #231f20;
  --secondary-color: #8e8e8e;
  --primary-color: #ff3906;
  --white-color: #fff;

  --primary-yellow-color: #f9f86c;
  --primary-blue-color: #2f5acf;
  --header-height: 82px;
  --topbar-height: 32px;

  --navbar-height: calc(var(--header-height) - var(--topbar-height));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.tag {
  padding: 2px 8px;
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;

  border-radius: 6px;
}

.tag.tag--hot {
  color: var(--text-color);
  background-color: var(--primary-yellow-color) !important;
}

.tag.tag--new {
  color: var(--white-color);
  background-color: var(--primary-blue-color) !important;
}
