/* Wrapper */
.homepage {
}

/* Header */
.header {
  letter-spacing: 0.02rem;
  font-size: 1.3rem;
  height: var(--header-height);
}

.header:hover .header__topbar {
  background-color: #ddd;
}

.header:hover .header__navbar {
  background-color: var(--primary-yellow-color);
}

/* Header - Topbar */
.header__topbar {
  text-align: center;
  background-color: var(--primary-yellow-color);
  height: var(--topbar-height);
  line-height: var(--topbar-height);

  transition: background-color ease-in 0.2s;
}

.header__topbar-link {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}

/* Header - Navbar */
.header__navbar {
  height: var(--navbar-height);
  background-color: var(--white-color);

  transition: background-color ease-in 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 64px;
  border-bottom: 1px solid #e1e7e8;
}

.header__navbar-logo {
  height: 36px;
}

.header__navbar-img {
  width: 100%;
  height: 100%;
}

.header__navbar-list {
  display: flex;
  margin: 0;

  list-style-type: none;
}

.header__navbar-item {
  text-transform: capitalize;
}

/* Header submenu hover */
.header__navbar-item--has-child {
  position: relative;
}

.header__navbar-item--has-child:hover .submenu ~ .submenu__layer {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__navbar-item--has-child:hover .submenu {
  display: block;
}

.header__navbar-item:hover .header__navbar-item-link {
  color: var(--secondary-color);
}

.header__navbar-item--active .header__navbar-item-link,
.header__navbar-item--active:hover .header__navbar-item-link {
  color: var(--primary-color);
}

.header__navbar-item-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  padding: 0 30px;

  line-height: var(--navbar-height);
}

.header__navbar-action {
}

.header__navbar-icon {
  font-size: 1.6rem;
  cursor: pointer;
}

.header__navbar-icon:not(:first-child) {
  margin-left: 20px;
}

/* Heading - Subnav */
.submenu {
  display: none;
  background-color: var(--white-color);
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 300px;
}

.header__navbar-item--has-child:hover .submenu ~ .submenu__layer {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.submenu-wrap {
  padding: 16px 0 24px;
  display: flex;

  max-width: 1000px;
  margin: auto;
}

.submenu__column {
  flex: 1;
}

.submenu__column--active {
  flex: 2;
}

.submenu__column--active
  .submenu__list
  .submenu__item:first-child
  .submenu__link {
  color: var(--text-color);
}

.submenu__column--active .submenu__link {
  color: var(--secondary-color);
  max-width: 138px;
}

.submenu__heading {
  color: var(--secondary-color);
  margin: 0 0 30px 0;
  font-size: 1.3rem;
  font-weight: 900;
}

.submenu__list {
  --margin-bottom: 10px;
  position: relative;
  list-style-type: none;
  padding: 0;
}

.submenu__list ~ .submenu__list::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--margin-bottom) / 2 * -1);
  left: 0;

  width: 35px;
  height: 1px;
  background-color: #e9e9e9;
}

.submenu__item {
  text-transform: none;
  margin-bottom: var(--margin-bottom);
}

.submenu__item--heading .submenu__link {
  color: var(--text-color);
}

.submenu__link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
  transition: color ease-in 0.1s;
}

.submenu__link:hover {
  color: var(--primary-blue-color);
}
.submenu__link-desc {
  display: block;
  font-size: 80%;
  font-weight: 500;
}
